<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel = "stylesheet" href = "aboutus.css" type = "text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <h2 class = "heading">Our Team</h2> -->
    <div >
        <ol id="navbar">
            <li id="home" class="page">Home</li>
            <li id="team">Our Team</li>
            <li id="reg" class="page">SignUp</li>
        </ol>
    </div>
    <div class="row">
    <div class="column">
        <div class="card">
        <img src="VikasPal.jpg" alt="Vikas Pal" >
        <div class="container">
            <div class="cen"> <h2 class="name1">Vikas Pal</h2></div>
            <div class="cen"> <p id="level" class="title">CEO & Founder</p></div>
        </br>
            <p class = "contend">
            <a id="email" href = "vikaspal72916@gmail.com">Email: vikaspal72916@gmail.com</a>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="anand.jpeg" alt="Anand Pandey">
        <div class="container">
           <div class="cen"> <h2 class="name1">Anand Pandey</h2></div>
           <div class="cen"> <p id="level" class="title">Manager</p></div>
            <p class = "contend2"></p>
            <a class="email1" href="anandpandey2525@gmail.com">Email: anandpandey2525@gmail.com</a>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="kanak.jpeg" alt="Kanak Gupta" >
        <div class="container">
            <div class="cen"> <h2 class="name1">Kanak Gupta</h2></div>
           <div class="cen"> <p id="level" class="title">Secretary</p></div>
            <p class = "contend3"></p>

            <div > <a class="email2"  href ="kanakgupta789@gmail.com">Email: kanakgupta789@gmail.com</a></div>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    </div>
    <div class="column">
        <div class="card">
        <img src="suraj.jpeg" alt="Suraj Pal" >
        <div class="container">
            <div class="cen"> <h2 class="name1">Suraj Pal</h2></div>
           <div class="cen"> <p id="level" class="title">Assistant Director</p></div>
            <p class = "contend4"></p>

            <div > <a class="email2"  href ="surajpal52@gmail.com">Email: surajpal52@gmail.com</a></div>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    </div>
    <div class="column">
        <div class="card">
        <img src="raghav.jpg" alt="Raghavendra Pandey" >
        <div class="container">
            <div class="cen"> <h2 class="name1">Raghavendra pandey</h2></div>
           <div class="cen"> <p id="level" class="title">Managing Director </p></div>
            <p class = "contend5"></p>

            <div > <a class="email2"  href ="raghavendrap89@gmail.com">Email: raghavendrap89@gmail.com</a></div>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    </div>
</body>
<script src="aboutus.js"></script>
</html>